{% extends "main/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>{% block title %}Create an account{% endblock %}</title>
</head>
<body>
    {% block container %}
<link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}">
<form method="POST" class="form-register">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="button-register">Sign Up</button>
</form>
    {% endblock %}
</body>
</html>





