{% extends "main/base.html" %}
{% load static %}
{% block title %}Create{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% block container %}
<link rel="stylesheet" href="{% static 'css/viewnotes.css' %}">
<h4>Notes: </h4>

<br>
<ul>
    <li><a href="{% url 'createnote' %}" class="notes">Create Note</a></li>
{% for note in user.usernotes.all %}
<li>{{note.title}}: <a href="{{note.pdf.url}}" class="notes" download>Download</a>
<button class="btn-delete" type="submit">Delete</button>
</li>
{% endfor %}
</ul>

<style type="text/css">
    li .notes{
        color: teal;
    }
</style> 

{% endblock %}

