<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}aryan's site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="dropdown">
    <img src="{% static 'images/menu.png' %}" class="menu">
</div>
    <div style="display: flex;">
        <div class="side-nav">
            <ul>

                <li><i class="far fa-lightbulb"></i></li>

                <div class="tooltip">
                    <li><a href="/"><i id="Home" class="fas fa-home tool-hover"></i></a></li>
                </div>
                <div class="tooltip">
                    <li><a href="/admin"><i id="Profile" class="fas fa-user tool-hover"></i></a></li>
                </div>
                <div class="tooltip">
                    <li><a href="/create/"><i id="Create List" class="fas fa-pencil-alt tool-hover"></i></a></li>
                    <!-- <span class="create">Create</span> -->
                </div>
                <div class="tooltip">
                    <li><a href="/8"><i id="View  List" class="fas fa-clipboard-list tool-hover"></i></a></li>
                </div>

                
            </ul>
        </div>
        {% block container %}

        {% endblock %}
    </div>
    <script src="{% static 'JS/main.js' %}"></script> 
</body>

</html>