{% extends "main/base.html" %}
{% load static %}
<html>

<head>
    
    <title>{% block title %}Home{% endblock %}</title>
    
</head>
<style>
    p{
        display: none;
    }
   
</style>

<body>
 
    {% block container %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% if user.is_authenticated %}
    <div>
    <br><br>
    <div class="name">Welcome, {{user.username}}</div>
    </div>
    {% else %}
    <div><a href="/register/">signup</a> or <a href="/login">login</a> to continue</div>
    {% endif %}
    
    {% endblock %}
</body>

</html>
