@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --primary1:#eeeeee;
    --primary2: #00adb5;
    --dark-red:#630000;
    --gray:#393e46;
    --accent:#222831;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    
}
.side-nav{
    width:140px;
    height: 140vh;
    background:linear-gradient(120deg,var(--primary2) 100%,var(--gray));
    color:white;
    top:0;
    left:0;
    border-radius: 2rem;
    margin: 8px;

 
}

a{
    text-decoration: none;
    color: white;
}
.side-nav li{
    list-style: none;
    padding-right: 1.1rem;
    margin:3rem 0rem;
    list-style:none;
}

.fa-lightbulb{
    width: 10px;
    font-size: 80px;
    padding-left: 0.5rem;
}
/* .create-hover{
    visibility: visible;
    text-align: center;
    cursor: pointer;
    padding: 0px 22px;
    position: relative;
    display: flex;
    margin-bottom: -50%;

}
.create-hover .create {
    background: #2541b2;
    border-radius: 2rem;
    visibility:hidden;
    z-index: 1;
    color: white;
    position: absolute;
    padding: 0.4rem;
    margin: 0rem -2rem;


}
@media (hover: hover){
.create-hover:hover .create{
    visibility: visible;
}
    
} */
i{
    padding:1rem 0rem
}
.tooltip{
    position: relative;
    padding-left: 1.4rem;
}
.tool-hover:hover::after{
    content: attr(id);
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0%;
    right: 0;
    left:0;
    background:white;
    width:auto;
    margin-left: -34px;
    padding: 0.8rem;
    border-radius: 2rem 0rem 0rem 2rem;
    color: var(--accent);
    display: block;
    white-space: nowrap;
    text-align: center;
    transition: 8s ease;
    opacity: 8;
}
.menu{
    display: none;
    margin-left: 1.2rem;
    width: 10px;
    height: 40px;
    cursor: pointer;
}
.side-nav-no
{
    display: none;

} 
.transition1{
    transform: translateX(-7rem);
    transition: all 0.8s ease-in-out ;
    opacity: 0.2;
    
}
.transition2{
    transform: translateX(10rem);
    transition: 0.8s;
    opacity: 0.2;
    display: "";
    
}

@media  screen and (max-width:700px) {
    body{
        font-size: 20px;
    }
    i{
        padding-right:8rem;
        
    }
    .side-nav li{
       margin-left: -45%;
    }
    
    .menu{
        display: block;
        width:30px;
        padding: 1rem;
        margin-bottom: 0rem;
        height: 20px;
        padding-left: 0;
    }
    .side-nav{
        width:100px;
        margin-top: 0%;
        /* z-index: -1; */
    }
}