@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --primary1:#eeeeee;
    --primary2: #00adb5;
    --dark-red:#630000;
    --gray:#393e46;
    --accent:#222831;
}
body{
    font-family: 'Roboto', sans-serif;
}

form{
    font-size: 18px;
    margin-left:10%;
    margin-top: 5%;
    right: 0;   
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%,-50%);
    background-color:var(--primary1);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid var(--accent);
    color: var(--accent);
    box-shadow: 4px 4px 10px var(--gray);
}
button{
    padding: 0.8rem;
    font-size: 15px;
    border-radius: 1rem;
    display: grid;
    margin-left:40%;
    border: 1px solid var(--accent);

}
@media  screen and (max-width:700px) {
    form{
        font-size: 14px;
        top:55%;
        width: 200px;
        left: 55%;
    }
    
}
